@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom right, red, rgb(0, 0, 0));
}

nav{
    font-family: 'Ubuntu',sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 50px;
    padding: 10px 10px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    color: white;
    font-size: 1.5rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 70px;
    border-color: red;
    padding: 34px;
    background-image:url('joji-nectar-cover.jpg');
    
    
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 20px;
    padding: 0;
    justify-items: center;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songitem{
    height: 60px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}
.songitemcontainer{
    margin-top: 40px;
    margin-left: 150px;
    
}
.songitem img{
    width: 50px;
    height: 50px;
    margin-left:  50px;
    margin-right: 50px;
    border-radius: 100px;

}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in ;
}

.songinfo{
    position: absolute;
    left: 10vw;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;

}
.timestamp{
    margin: 0 23px;
    cursor: pointer;
}